In [1]:
import time

In [2]:
import datetime

In [3]:
import pandas as pd

In [12]:
import yfinance as yf

msft = yf.Ticker("MSFT")
print(msft)
"""
returns
<yfinance.Ticker object at 0x1a1715e898>
"""

# get stock info
msft.info

"""
returns:
{
 'quoteType': 'EQUITY',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'currency': 'USD',
 'shortName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
  ...
 'symbol': 'MSFT'
}
"""

# get historical market data, here max is 5 years.
msft.history(period="max")
"""
returns:
              Open    High    Low    Close      Volume  Dividends  Splits
Date
1986-03-13    0.06    0.07    0.06    0.07  1031788800        0.0     0.0
1986-03-14    0.07    0.07    0.07    0.07   308160000        0.0     0.0
...
2019-11-12  146.28  147.57  146.06  147.07    18641600        0.0     0.0
2019-11-13  146.74  147.46  146.30  147.31    16295622        0.0     0.0
"""

yfinance.Ticker object <MSFT>

'\nreturns:\n              Open    High    Low    Close      Volume  Dividends  Splits\nDate\n1986-03-13    0.06    0.07    0.06    0.07  1031788800        0.0     0.0\n1986-03-14    0.07    0.07    0.07    0.07   308160000        0.0     0.0\n...\n2019-11-12  146.28  147.57  146.06  147.07    18641600        0.0     0.0\n2019-11-13  146.74  147.46  146.30  147.31    16295622        0.0     0.0\n'

In [6]:
import sqlite3

In [7]:
# 싱글톤 패턴
_instance = None
def __new__(cls, *args, **kwargs):
    if cls._instance is None:
        cls._instance = object.__new__(cls)
        return cls._instance
    return cls._instance

In [8]:
def __init__(self):
    self.open_Db()

In [9]:
# DB를 오픈한다.
def open_Db(self):
    self.con = sqlite3.connect("./kosdaq_leverage.db")
    self.cursor = self.con.cursor()

In [ ]:
class StockDb(object):

    # 싱글톤 패턴
    _instance = None
    def __new__(cls, *args, **kwargs):
        if cls._instance is None:
            cls._instance = object.__new__(cls)
            return cls._instance
        return cls._instance


    def __init__(self):
        self.open_Db()

    # DB를 오픈한다.
    def open_Db(self):
        self.con = sqlite3.connect("./kosdaq_leverage.db")
        self.cursor = self.con.cursor()


    def create_StockDb(self):
        self.cursor.execute("CREATE TABLE kosdaq_leve(date text unique, high int, low int);")
        self.cursor.execute("CREATE TABLE kosdaq_start(date text unique, start int);")
        self.cursor.execute("CREATE TABLE kosdaq_leve_day(date text unique, start int, end int);")


    def create_OrderDb(self):
        self.cursor.execute("CREATE TABLE buy(date text, buy_price int, buy_reason text, buy_id integer primary key autoincrement);")
        self.cursor.execute("CREATE TABLE sell(date text, sell_price int, sell_reason text, sell_id integer primary key autoincrement references buy(buy_id));")
        self.cursor.execute("CREATE TABLE optimize_profit(********* int, ******* int, profit int);")

    def commit(self):
        self.con.commit()

In [4]:
import sqlite3
import pandas as pd

In [5]:
class StockDb(object):

    # 싱글톤 패턴
    _instance = None
    def __new__(cls, *args, **kwargs):
        if cls._instance is None:
            cls._instance = object.__new__(cls)
            return cls._instance
        return cls._instance


    def __init__(self):
        self.open_Db()

    # DB를 오픈한다.
    def open_Db(self):
        self.con = sqlite3.connect("./kosdaq_leverage.db")
        self.cursor = self.con.cursor()


    def create_StockDb(self):
        self.cursor.execute("CREATE TABLE kosdaq_leve(date text unique, high int, low int);")
        self.cursor.execute("CREATE TABLE kosdaq_start(date text unique, start int);")
        self.cursor.execute("CREATE TABLE kosdaq_leve_day(date text unique, start int, end int);")


    def create_OrderDb(self):
        self.cursor.execute("CREATE TABLE buy(date text, buy_price int, buy_reason text, buy_id integer primary key autoincrement);")
        self.cursor.execute("CREATE TABLE sell(date text, sell_price int, sell_reason text, sell_id integer primary key autoincrement references buy(buy_id));")
        self.cursor.execute("CREATE TABLE optimize_profit(mean_level int, price_limit int, profit int);")

    def insert_Leve(self,day,high, low):
        self.cursor.execute("insert into kosdaq_leve values(?,?,?);",(day,high,low))

    def insert_Start(self,day,start):
        self.cursor.execute("insert into kosdaq_start values(?,?);",(day,start))

    def insert_Leve_Day(self,day,start,end):
        self.cursor.execute("insert into kosdaq_leve_day values(?,?,?);",(day,start, end))

    def insert_Buy(self,day,price,reason):
        self.cursor.execute("insert into buy (date,buy_price,buy_reason) values(?,?,?);",(day,price,reason))

    def insert_Sell(self,day,price,reason):
        self.cursor.execute("insert into sell (date,sell_price,sell_reason) values(?,?,?);", (day,price, reason))

    def insert_Profit(self, mean_level, limit, profit):
        self.cursor.execute("insert into optimize_profit values(?,?,?);",(*********,**********))

    def select_MinuteData(self,day):
        data = pd.read_sql("SELECT * FROM kosdaq_leve where date like \'" + day + "%\' order by date;", self.con, index_col=None)
        return data

    def select_DailyStart(self,day):
        data = pd.read_sql("SELECT * FROM kosdaq_start where date like \'"+day+"%\' order by date;", self.con, index_col=None)
        return data

    def select_Buy(self,day):
        day = day[0:8]
        data = pd.read_sql("SELECT * FROM buy where date like \'"+day+"%\';",self.con, index_col=None)
        return data

    def select_Sell(self,day):
        day = day[0:8]
        data = pd.read_sql("SELECT * FROM sell where date like \'" + day + "%\';", self.con, index_col=None)
        return data

    def select_Date(self, start, end):
        data = pd.read_sql("SELECT date FROM kosdaq_start where date >= \'" + start + "000000\' and date <= \'"+end+"090000\' order by date;", self.con, index_col=None)
        return data

    def delete_Buy_Sell(self):
        self.cursor.execute("DELETE FROM sell;")
        self.cursor.execute("DELETE FROM buy;")
        self.cursor.execute("DELETE FROM sqlite_sequence;")
        self.commit()

    def select_Daily_Data(self,start,end):
        data = pd.read_sql("SELECT * FROM kosdaq_leve_day where date >= \'" + start + "\' and date <= \'"+ end +"\';", self.con, index_col=None)
        return data

    def select_Optimize_Data(self):
        data = pd.read_sql("SELECT * FROM optimize_profit;", self.con, index_col=None)
        return data

    def commit(self):
        self.con.commit()

if __name__ == "__main__":
    db = StockDb()
    db.create_StockDb()
    db.create_OrderDb()

SyntaxError: invalid syntax (<ipython-input-5-96adf4e446a2>, line 48)

In [10]:
from PyQt5.QAxContainer import *
from PyQt5.QtCore import *
import pandas as pd
import Db
import time


class Stock(QAxWidget):
    def __init__(self):
        super().__init__()
        self.db = Db.StockDb()
        self.db.open_Db()

        self._create_kiwoom_instance()
        self._set_signal_slots()

    # COM을 사용하기 위한 메서드
    def _create_kiwoom_instance(self):
        self.setControl("KHOPENAPI.KHOpenAPICtrl.1")

    def _set_signal_slots(self):
        # 로그인할 시 OnEventConnect 이벤트 발생
        self.OnEventConnect.connect(self._event_connect)
        # tr후 이벤트 발생
        self.OnReceiveTrData.connect(self._receive_tr_data)

    # 로그인 메서드, 로그인 과정에서 프로그램이 진행되면 안 되기 때문에
    # 이벤트 루프 생성
    def comm_connect(self):
        self.dynamicCall("CommConnect()")
        self.login_event_loop = QEventLoop()
        self.login_event_loop.exec_()

    # 로그인 성공 여부 메서드
    def _event_connect(self, err_code):
        if err_code == 0:
            print("connected")
        else:
            print("disconnected")
        self.login_event_loop.exit()

    # tr 입력값을 서버 통신 전에 입력
    # ex. SetInputValue("종목코드","000660")
    def set_input_value(self,id,value):
        self.dynamicCall("SetInputValue(QString,QString)", id, value)

    # tr을 서버에 전송한다
    def comm_rq_data(self, rqname, trcode, next, screen_no):
        self.dynamicCall("CommRqData(QString, QString, int, QString)", rqname, trcode, next, screen_no)
        self.tr_event_loop = QEventLoop()
        self.tr_event_loop.exec_()

    # 서버한테 받은 데이터를 반환한다.
    def _comm_get_data(self, code, real_type, field_name, index, item_name):
        ret = self.dynamicCall("CommGetData(QString, QString, QString, int, QString)", code,
                               real_type, field_name, index, item_name)
        return ret.strip()

    # 서버한테 받은 데이터의 갯수를 반환한다.
    def _get_repeat_cnt(self, trcode, rqname):
        ret = self.dynamicCall("GetRepeatCnt(QString, QString)", trcode, rqname)
        return ret

    def _receive_tr_data(self, screen_no, rqname, trcode, record_name, next, unused1, unused2, unused3, unused4):
        print("receive_tr_data call")
        if next == '2':
            self.remained_data = True
        else:
            self.remained_data = False

        if rqname == "opt10080_req":
            self._opt10080(rqname, trcode)
        elif rqname == "opt10081_req":
            self._opt10081(rqname, trcode)

        try:
            self.tr_event_loop.exit()
        except AttributeError:
            pass

    # KODEX 코스닥 150 레버리지 종목의 분봉 데이터를 요청한다.
    # 약 100일치 분봉 데이터를 요청한다.
    def req_minute_data(self):
        self.set_input_value("종목코드","233740")
        self.set_input_value("틱범위", 1)
        self.set_input_value("수정주가구분", 0)
        self.comm_rq_data("opt10080_req", "opt10080", 0, "1999")

        for i in range(50):
            time.sleep(0.2)
            self.set_input_value("종목코드", "233740")
            self.set_input_value("틱범위", 1)
            self.set_input_value("수정주가구분", 0)
            self.comm_rq_data("opt10080_req", "opt10080", 2, "1999")

        print("코스닥 레버리지 분봉 데이터 저장 성공")

    # KODEX 코스닥 150 레버리지 종목의 일봉 데이터를 요청한다.
    def req_day_data(self):
        self.set_input_value("종목코드","233740")
        self.set_input_value("기준일자", "20171108")
        self.set_input_value("수정주가구분",0)
        self.comm_rq_data("opt10081_req", "opt10081",0,"2000")

        print("코스닥 레버리지 일봉 데이터 저장 성공")

    # 서버에게 받은 분봉 데이터를 kosdaq_leve 테이블에 저장한다.
    # 또한 kosdaq_start 테이블에 매일 시가 정보를 저장한다.
    def _opt10080(self,rqname,trcode):
        data_cnt = self._get_repeat_cnt(trcode,rqname)
        for i in range(data_cnt):
            print("분봉 데이터 저장중")
            day = self._comm_get_data(trcode, "",rqname, i, "체결시간")
            high = self._comm_get_data(trcode, "", rqname, i, "현재가")
            low = self._comm_get_data(trcode, "", rqname, i, "저가")
            if(high[0] == '-'):
                high = high[1:]
            if(low[0] == '-'):
                low = low[1:]
            self.db.insert_Leve(day,int(high),int(low))
            #self.db.insert_Leve(day, abs(int(high)), abs(int(low)))

            if day[8:] == "090000":
                start = self._comm_get_data(trcode, "",rqname, i, "시가")
                if(start[0] == '-'):
                    start = start[1:]
                self.db.insert_Start(day,int(start))
                #self.db.insert_Start(day,abs(int(start)))

        self.db.con.commit()

    # 서버에게 받은 일봉 데이터를 DB에 저장한다.
    def _opt10081(self,rqname, trcode):
        for i in range(150):
            print("일봉 데이터 저장중")
            day = self._comm_get_data(trcode, "",rqname, i, "일자")
            end = self._comm_get_data(trcode, "",rqname, i,"현재가")
            start = self._comm_get_data(trcode, "",rqname, i,"시가")
            self.db.insert_Leve_Day(day,start,end)
        self.db.commit()




if __name__ == "__main__":
    stock = Stock()
    stock.comm_connect()
    stock.req_minute_data()
    stock.req_day_data()

ModuleNotFoundError: No module named 'PyQt5.QAxContainer'

In [13]:
url='http://finance.naver.com/item/sise_time.nhn?code=272450&thistime=2018041216'
df=pd.DataFrame()
for page in range(1, 41):
    pg_url = '{url}&page={page}'.format(url=url, page=page)
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)

ValueError: No tables found

In [15]:
import pandas_datareader.data as pdr

In [16]:
import datetime

In [19]:
test_time = datetime.datetime(2010,1,1,9,0)

In [20]:
test_time

datetime.datetime(2010, 1, 1, 9, 0)

In [21]:
end = datetime.datetime(2020, 12, 31, 16, 0)

In [27]:
test = pdr.DataReader('267250.KS', 'yahoo', test_time, end)

In [23]:
test.head()

                High       Low      Open     Close    Volume     Adj Close
Date
2017-05-10  452500.0  367000.0  411500.0  390000.0  756348.0  330386.12500
2017-05-11  395000.0  378000.0  382500.0  387500.0  239477.0  328268.28125
2017-05-12  395500.0  373000.0  389500.0  379500.0  141833.0  321491.12500
2017-05-15  378500.0  360500.0  377500.0  360500.0  159155.0  305395.40625
2017-05-16  362500.0  329000.0  360500.0  347500.0  339657.0  294382.50000

In [24]:
test.tail()

                High       Low      Open     Close    Volume     Adj Close
Date
2020-12-23  311500.0  298000.0  310000.0  305000.0   75074.0  287284.12500
2020-12-24  313500.0  304000.0  307000.0  313500.0   61431.0  295290.40625
2020-12-28  319000.0  314000.0  318500.0  318500.0  148954.0  300000.00000
2020-12-29  304500.0  289000.0  300500.0  290500.0  211631.0  290500.00000
2020-12-30  290000.0  280500.0  290000.0  283500.0  139319.0  283500.00000

In [28]:
?pdr.DataReader

In [ ]:
body > table.type2 > tbody > tr:nth-child(3) > td:nth-child(2) > span

In [1]:
import pandas as pd

In [4]:
stock_list = pd.read_csv('상장법인목록.csv')

In [5]:
stock_list.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,나노씨엠에스,247660,전자부품 제조업,"근적외선 흡수/반사 안료, 자외선 유기형광 안료, 적외선 발광체",2021-03-09,12월,김시석,http://www.nanocms.co.kr,충청남도
1,하나머스트7호스팩,372290,금융 지원 서비스업,기업인수목적,2021-03-05,12월,곽제훈,NaN,서울특별시
2,IBKS제15호스팩,373200,금융 지원 서비스업,기업 인수 합병,2021-02-26,12월,박광열,NaN,서울특별시
3,뷰노,338220,"자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업","뷰노메드 음성솔루션, 뷰노메드 영상솔루션, 기타 솔루션 등",2021-02-26,12월,김현준,http://www.vuno.co,서울특별시
4,유일에너테크,340930,특수 목적용 기계 제조업,2차전지 제조장비,2021-02-25,12월,정연길,http://www.youilet.com,경기도

In [10]:
new_list = stock_list[['회사명', '종목코드', '상장일']]

In [11]:
new_list['상장일' > 2010-01-01]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-11-e622f93893d8>, line 1)

In [15]:
type(new_list['상장일'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
new_list['상장일'] = pd.to_datetime(new_list['상장일'], format='%Y-%m-%d')

<ipython-input-14-f0afee13c458>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_list['상장일'] = pd.to_datetime(new_list['상장일'], format='%Y-%m-%d')

In [21]:
old_stock = new_list[new_list['상장일'] < '2010-1-1']

In [22]:
old_stock.head()

          회사명    종목코드        상장일
1074  우리들휴브레인  118000 2009-12-30
1075   글로벌에스엠  900070 2009-12-23
1076   ITX-AI   99520 2009-12-22
1077  KPX생명과학  114450 2009-12-22
1078  디와이피엔에프  104460 2009-12-22

In [25]:
old_stock['종목코드'].iloc[0]

118000

In [29]:
code = old_stock['종목코드'].iloc[0]
time = 20210309151000

In [30]:
import requests
url = 'http://finance.naver.com/item/sise_time.nhn?code={code}&thistime={time}'.format(code=code, time=time)
res = requests.get(url)
res.encoding = 'utf-8'
res.status_code

200

In [31]:
url

'http://finance.naver.com/item/sise_time.nhn?code=118000&thistime=20210309151000'

In [32]:
from bs4 import BeautifulSoup
soap = BeautifulSoup(res.text, 'lxml')

In [34]:
el_table_navi = soap.find("table", class_="Nnavi")

In [39]:
el_td_last = el_table_navi.find("td", class_="pgR")

AttributeError: 'NoneType' object has no attribute 'find'

In [37]:
el_td_last = 41

In [38]:
pg_last = el_td_last.a.get('href').rsplit('&')[1]

AttributeError: 'int' object has no attribute 'a'

In [33]:
pg_last = pg_last.split('=')[1]
pg_last = int(pg_last)
pg_last

AttributeError: 'NoneType' object has no attribute 'find'

In [40]:
import traceback

In [41]:
import traceback
import pandas as pd

def parse_page(code, page):
    try:
        url = 'http://finance.naver.com/item/sise_day.nhn?code={code}&page={page}'.format(code=code, page=page)
        res = requests.get(url)
        _soap = BeautifulSoup(res.text, 'lxml')
        _df = pd.read_html(str(_soap.find("table")), header=0)[0]
        _df = _df.dropna()
        return _df
    except Exception as e:
        traceback.print_exc()
    return None

In [42]:
parse_page(code, 1)

Traceback (most recent call last):
  File "<ipython-input-41-d9fcf7c02ba8>", line 9, in parse_page
    _df = pd.read_html(str(_soap.find("table")), header=0)[0]
  File "C:\Users\sarah\anaconda3\lib\site-packages\pandas\util\_decorators.py", line 296, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\sarah\anaconda3\lib\site-packages\pandas\io\html.py", line 1086, in read_html
    return _parse(
  File "C:\Users\sarah\anaconda3\lib\site-packages\pandas\io\html.py", line 917, in _parse
    raise retained
  File "C:\Users\sarah\anaconda3\lib\site-packages\pandas\io\html.py", line 898, in _parse
    tables = p.parse_tables()
  File "C:\Users\sarah\anaconda3\lib\site-packages\pandas\io\html.py", line 217, in parse_tables
    tables = self._parse_tables(self._build_doc(), self.match, self.attrs)
  File "C:\Users\sarah\anaconda3\lib\site-packages\pandas\io\html.py", line 547, in _parse_tables
    raise ValueError("No tables found")
ValueError: No tables found

In [55]:
import requests
from bs4 import BeautifulSoup
 
url = "https://finance.naver.com/item/main.nhn?code=263750"
result = requests.get(url)
bs_obj = BeautifulSoup(result.content, "html.parser")
 
#close 종가(전일)
td_first = bs_obj.find("td", {"class": "first"})  # 태그 td, 속성값 first 찾기

In [56]:
print(td_first)

<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">283,500</span>
<span class="no2">2</span><span class="no8">8</span><span class="no3">3</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>

In [45]:
blind = td_first.find("span", {"class": "blind"})  # 태그 span, 속성값 blind 찾기
close = blind.text

In [46]:
print(close)

283,500

In [70]:
url = 'https://finance.naver.com/item/sise.nhn?code=005930'

In [71]:
result = requests.get(url)
bs_obj = BeautifulSoup(result.content, "html.parser")

In [73]:
td_first = bs_obj.find("td", {"class": "num"})  # 태그 td, 속성값 first 찾기

In [52]:
td_first = bs_obj.find("td", {"align": "center"})  # 태그 td, 속성값 first 찾기
blind = td_first.find("span", {"class": "tah p10 gray03"})  # 태그 span, 속성값 blind 찾기
close = blind.text

AttributeError: 'NoneType' object has no attribute 'find'

In [74]:
print(td_first)

<td class="num"><strong class="tah p11" id="_nowVal">81,400</strong></td>